@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');



body{
    font-family: 'Source Code Pro', monospace;
}

.cursor {
    display: inline-block;
    width: 10px; /* Width of the cursor */
    height: 1.2em; /* Height of the cursor should match the line height */
    background-color: white; /* Cursor color */
    margin-left: 5px; /* Space between the cursor and the text */
    animation: blink-animation  steps(5, start) infinite;
  }
  
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

