@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow: hidden;
  /* Hide scrollbars */
}

@keyframes animate {
  0% {
    background-position: left 0px top 10px;
  }

  40% {
    background-position: left 800px top 10px;
  }
}

.cursor {
  display: inline-block;
  width: 10px; /* Width of the cursor */
  height: 1.2em; /* Height of the cursor should match the line height */
  background-color: white; /* Cursor color */
  margin-left: 5px; /* Space between the cursor and the text */
  animation: blink-animation steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#title {
  position: relative;
  margin: 70px auto 50px;
  font-size: 60px;
  font-family: 'Press Start 2P', sans-serif;
}

.wrapper {
  position: relative;
  display: inline-block;
  margin: 35px auto;
}


.header-wrap {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-family: 'Press Start 2P', cursive;
  transform: perspective(200px) rotateX(10deg);
  letter-spacing: .1em;
  user-select: none;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #004d40, 
    0 2px 0 #00483B, 
    0 3px 0 #004639, 
    0 4px 0 #004336, 
    0 5px 0 #004134, 
    0 6px 0 #003F32, 
    0 7px 0 #003D30, 
    0 8px 0 #003A2D, 
    0 9px 0 #00382B, 
    0 10px 0 #003528, 
    0 11px 0 #003225, 
    0 12px 0 #002F22, 
    0 13px 0 #002B1E, 
    0 14px 0 #00281C, 
    0 15px 0 #001F13, 
    0 22px 30px rgba(0,0,0, 0.9),
    0 22px 30px rgba(0, 0, 0, 0.9),
    0 22px 15px rgba(0, 0, 0, 0.9),
    0 11px 15px rgba(0, 0, 0, 0.9),
    0 15px 20px rgba(0, 0, 0, 0.9),
    0 15px 11px rgba(0, 0, 0, 0.9),
    0 16px 11px rgba(0, 0, 0, 0.9);

  transition: text-shadow .3s ease .3s, 
    transform .3s ease .3s,
    letter-spacing .3s ease .3s;

  &:hover {
    transition: text-shadow .33s ease, 
      transform .3s ease,
      letter-spacing .3s ease;
    text-shadow: 0 0 0 #004134,
      0 1px 0 #00483B,
      0 2px 0 #003528,
      0 3px 3px rgba(0, 0, 0, 0.9);
    transform: translate(0px, 15px) 
      perspective(200px) 
      rotateX(10deg);
    letter-spacing: .125em;
  }
}



.retro-btn {
  text-transform: uppercase;
  background: 0 0;

  &.lg {
    .btn {
      width: 294px;
      height: 54px;
      font-size: 17px;
      line-height: 50px;

      .btn-inner .content-wrapper .btn-content .btn-content-inner::before {
        padding-top: 0;
        letter-spacing: .15em;
      }
    }
  }

 

  .btn {
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: auto;
    text-decoration: none;
    text-align: center;
    transition: opacity .1s ease-out;
    z-index: 5;

    width: 240px;
    height: 46px;
    font-size: 12px;
    line-height: 24px;

    background-color: transparent;
    text-decoration-color: initial;
    border-color: initial;
    -webkit-tap-highlight-color: transparent;

    &,
    &:focus {
      outline-color: 0;
      outline-style: none;
      outline-width: 0;
    }

    &:hover {
      .btn-content-inner::before {
        background-color: rgba(13, 13, 13, .3);
      }
    }

    &:active {
      .btn-content-inner::before {
        background-color: rgba(13, 13, 13, .3);
      }
    }

    &::before {
      content: " ";
      background-color: rgba(13, 13, 13, .3);
      width: calc(100% - 2px);
      height: calc(100% - 4px);
      bottom: -1px;
      left: 1px;
      position: absolute;
      border-radius: 3px;
      z-index: 1;
      transition: transform .12s ease-out, background .12s ease-out;
    }

    &.btn-left {
      &::before { transform: skewY(1deg) translate3d(0, -.5px, 0); }
      .btn-content { transform: skewY(-1deg); }
    }

    &.btn-right {
      &::before { transform: skewY(-1deg) translate3d(0, -.5px, 0); }
      .btn-content { transform: skewY(1deg); }
    }

    &.btn-center {
      &::before { transform: translate3d(0, -1px, 0); }
      .btn-content { transform: translate3d(0, 1px, 0); }
    }

    &.btn-active {
      .btn-inner .content-wrapper .btn-content {
        transition: transform .12s ease-out, background .12s ease-out, color .12s ease-out;
        transform: translate3d(0, 2px, 0);

        .btn-content-inner { opacity: .1; }
      }

      &::before { transform: translate3d(0, -3px, 0); }
    }

    .btn-inner {
      display: block;
      height: 100%;

      .content-wrapper {
        position: relative;
        font-family: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        height: calc(100% - 3px);
        margin-top: -3px;

        &:after,
        &::before,
        & .btn-content:after,
        & .btn-content::before,
        & .btn-content .btn-content-inner::before {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        &::before {
          background-image: initial;
          background-color: #004d40;

          content: " ";
          border-radius: 3px;
          top: auto;
          bottom: -3px;
          z-index: 1;
          -webkit-transition: background .185s ease-out, -webkit-transform .185s ease-out;
          transition: background .185s ease-out, -webkit-transform .185s ease-out;
          transition: transform .185s ease-out, background .185s ease-out;
          transition: transform .185s ease-out, background .185s ease-out, -webkit-transform .185s ease-out;
        }

        &:after {
          background-color: rgba(13, 13, 13, 0.15);

          content: " ";
          border-radius: 3px;
          z-index: 3;
          width: 0;
          top: 2px;
        }

        .btn-content {
          background-image: initial;
          background-color: #26a69a;
          color: #ebf1f8;

          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          text-indent: 0;
          z-index: 3;
          overflow: hidden;
          padding: 0 16px;         
        }
      }
    }
  }
}



#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;

  & span {
    background: linear-gradient(white, #38495a);
    background-clip: text;
  }
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
